<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Leefrost/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Leefrost" />
            <add key="ClearTextPassword" value="3699210251b5d7870e30802d36970d8af59fd0c0" />
        </github>
    </packageSourceCredentials>
</configuration> 